@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<BlogApp.Models.Blog>
@{
  ViewData["Title"] = "All Blogs";
}

<div class="container py-4">
  <h1>@ViewData["Title"]</h1>

  <p>
    <a asp-action="Create" class="btn btn-primary">Create New Blog</a>
  </p>

  <ul class="list-group">
    @foreach(var b in Model) {
      <li class="list-group-item">
        <a asp-action="Details" asp-route-id="@b.Id">@b.Title</a>

          @if (b.UserId == UserManager.GetUserId(User) || User.IsInRole("Admin"))
          {
              <span>
                  <a asp-action="Edit" asp-route-id="@b.Id" class="btn btn-warning btn-sm">Edit</a> |
                  <a asp-action="Delete" asp-route-id="@b.Id" class="btn btn-danger btn-sm">Delete</a>
              </span>
          }

      </li>
    }
  </ul>
</div>
