@model IEnumerable<BlogApp.Models.Blog>

@{
  ViewData["Title"] = "All Blogs";
}

<div class="container py-4">
  <h1>@ViewData["Title"]</h1>

  <p>
    <a asp-action="Create" class="btn btn-primary">Create New Blog</a>
  </p>

  <ul class="list-group">
    @foreach(var b in Model) {
      <li class="list-group-item">
        <a asp-action="Details" asp-route-id="@b.Id">@b.Title</a>
        <span>
          <a asp-action="Edit"    asp-route-id="@b.Id">Edit</a> |
          <a asp-action="Delete"  asp-route-id="@b.Id">Delete</a>
        </span>
      </li>
    }
  </ul>
</div>
